body {
/*    font-family: 'Kirang Haerang', cursive;*/
    font-family: 'MedievalSharp', cursive;
/*    font-family: 'Pirata One', cursive;*/
    background-image: url(images/pirate-1825392_1280.jpg);
    background-size: cover;
    margin:0;
}

h1 {
    font-size: 35px;
}

h2 {
    font-family: 'MedievalSharp', cursive;
/*    font-family: 'Pontano Sans', sans-serif;*/
    font-size: 50px;
    
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    text-transform: normal;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 1px 1px 0 rgba(140, 140, 140, 0.6), -1px -1px 1px rgba(0, 0, 0, 0.67);

}

.ship-location {
    background: linear-gradient(to right, #051937, #0c2247, #152c58, #1f366a, #29407c);
/*    background-image: url(images/ship.png);*/
/*    background-size: contain;*/
    
    
}

.salvo-location {
    background: -moz-radial-gradient(center, ellipse cover, rgba(199, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(199, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(199, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(199, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(199, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(199, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C70000', endColorstr='#000000', GradientType=1);
    color: white;
}

.hits {
    /*    background-color: #D08504;*/
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 163, 5, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 163, 5, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 163, 5, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 163, 5, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255, 163, 5, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(255, 163, 5, 1) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFA305', endColorstr='#000000', GradientType=1);
    color: white;
}

td {
    width: 9%;
    height: 9%;
    border: 1px solid black;
    color: lightgray;
    
   
}

td:hover {
/*  background-color: #ff0000;*/
  color: #000000;
}

th {
    /*    background: gray;*/
    text-align: center;
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
    border: 1px solid gray;
    width: 9%;
    height: 9%;
}

table {
    font-size: 20px;
    text-align: center;
    border: 1px solid gray;
}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.flex_1 {
    width: 50%;
    margin-left: 100px;
}

.flex_2 {
    width: 50%;
    margin: auto;
}

.flex_1 table {
    width: 520px;
    height: 520px;
}

.flex_2 table {
    width: 520px;
    height: 520px;
}

.bold {
    font-weight: 800;
    color: darkred;
}

/*////////////////////////////////////////////////////////////////*/
/*//////////////////////IMAGES////////////////////////////////////*/

div #pirate_image  {
    width: 8%;
    
}

div #other_pirate_image {
    width: 8%;
}

#pirate_image img {
    width: 100%;
    padding-top: 10px;
}

#other_pirate_image img {
    width: 100%;
    padding-top: 10px;
}

/*////////////////////////////////////////////////////////////////*/
/*////////////////////////////POSITIONING/////////////////////////*/

.heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
     background-image: url(images/treasure_chest_background.jpg);
    background-size: cover;
    height: 15%;
    width: 100%;
}
